.mainContainer {
  display: flex;
}

.lefttContainer {
    background-color: yellow;
  
}

.rightContainer {

  
}

.p1{
    text-align: right;
    
font: normal normal 900 44px/53px Roboto;
letter-spacing: 1.76px;
color: #001737;
}
.p2{
    text-align: right;
    font: normal normal normal 27px/37px Open Sans;
letter-spacing: 1.08px;
color: #68696B;
}
.p3{
    text-align: right;
    font: normal normal normal 22px/30px Open Sans;
letter-spacing: 0.88px;
color: #000000;
}

.name {
  width: 426px;
  height: 55px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 27px #00000029;
  border-radius: 10px;
  font: normal normal normal 18px/22px Roboto;
  letter-spacing: 0.72px;
  color: #000000;
}

.email {
  width: 426px;
  height: 55px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 27px #00000029;
  border-radius: 10px;
  font: normal normal normal 18px/22px Roboto;
letter-spacing: 0.72px;
color: #000000;
}
/* .message {
  width: 426px;
  height: 193px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 27px #00000029;
  border-radius: 10px;
  font: normal normal normal 18px/22px Roboto;
letter-spacing: 0.72px;
color: #000000;
} */

.messege{
    height: 200px;
    width: 500px;


}