.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #192a8b;
  padding: 0 10%;
}

/* .logo {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
} */

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 2rem;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
.rightHeaderContainer{
    display: flex;
    flex-direction: row;
}

.rightHeaderContainer span {
  color: white;
  margin-right: 28px;
  /* margin-top: 29px; */
}

.button {
  width: 93px;
  height: 32px;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #246deb;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 7px;
  outline: 0;
  border: none;
}

/* .header a:hover,
.header a:active,
.header a.active {
    color: white;
} */

/* This applies from 600px onwards */

@media (min-width: 600px) {
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #192a8b;
    padding: 0 10%;
  }
  /* .logo {
        font-size: 2rem;
        color: white;
        font-weight: bold;
    } */
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  .header li {
    margin-left: 3rem;
  }
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
  }
  /* .header a:hover,
    .header a:active,
    .header a.active {
        color: white;
    } */
}
