.logoContainer {
  display: flex;
  flex-direction: row;
}

.logoContainer span {
  width: 37px;
  height: 37px;
  margin-top: 22px;
  margin-right: 12px;
  /* position: relative; */
}

/* .logoContainer p {
  font-size: 26px;
  letter-spacing: 1.66px;
  color: #ffffff;
  position: relative;

} */
