.navContainer {
  padding-top: 28px;
  position: relative;
  left: 0;
  top: -35px;
  font-size: 18px;
}
.navContainer span {
  position: absolute;
}

.firstMainContainer {
  margin-top: 100px;
  padding-top: 83px;
  display: flex;
}

.firstLeftContainer {
  text-align: center;
  width: 800px;
}

.p1 {
  color: #0458e4;
  font-family: normal normal bold 16px/19px Roboto;
  font-weight: bold;
  letter-spacing: 1.6px;
  opacity: 1;
}

.p2 {
  color: #001737;
  font-family: normal normal 900 67px/81px Roboto;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 67px;
}

.p3 {
  color: #7a7f86;
  font-family: normal normal 600 27px/37px Open Sans;
  letter-spacing: 0.81px;
  opacity: 1;
  font-size: 27px;
}

.buttonTeacher {
  width: 198px;
  height: 61px;
  font-size: 25px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: transparent linear-gradient(180deg, #2a78ff 0%, #246deb 100%) 0%
    0% no-repeat padding-box;
  border-radius: 7px;
  outline: 0;
  border: none;
  cursor: pointer;
  margin-right: 49px;
}

.buttonStudent {
  width: 198px;
  height: 61px;
  font-size: 25px;
  letter-spacing: 0.5px;
  color: #2670f1;
  border: 2px solid #246deb;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 7px;
  outline: 0;
  border: 2px solid #246deb;
  cursor: pointer;
}

.firstRightContainer {
  margin-top: 131px;
}
